body{
    text-align: center;
}

#divListAttrId{
    margin: 50px;
    position: relative;
}

#mainDivId{
    border : 1px solid grey;
    margin : 100px;
    position: relative;
}

#buttonResetId{
    position: relative;
    bottom: 20px;
}